@using BookStore.ViewModel
@model ApplicationCreateUserVM
@section MainTitle {
User
}
@section Title {
    Create
}
@section SubTitle {
    Create
}
@section CardTitle {
    Create User
}
@section Buttons {

    <a asp-controller="User" asp-action="Index" class="btn btn-outline-primary"><i class="fas fa-long-arrow-alt-left"></i> Back </a>
}

<form asp-controller="User" asp-action="Create" >
    <div class="card-body">
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input type="text" asp-for="UserName" class="form-control" placeholder="Enter UserName">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input type="email" asp-for="Email" class="form-control" placeholder="Enter Email">

            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SelectedRoles"></label>
            <select type="text" asp-for="SelectedRoles" class="form-control" asp-items="@Model.Roles"></select>
            <span asp-validation-for="SelectedRoles" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input type="number" asp-for="PhoneNumber" class="form-control">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address"></label>
            <input type="text" asp-for="Address" class="form-control">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group">
              <label asp-for="PasswordHash"></label>
            <input type="password" asp-for="PasswordHash" class="form-control">
            <span asp-validation-for="PasswordHash" class="text-danger"></span>
          </div>
        
      
    </div>
    <!-- /.card-body -->
    <div class="card-footer d-flex justify-content-between align-items-center">
        <button type="submit" class="btn btn-outline-primary "> Create </button>
        <a asp-controller="User" asp-action="Index" class="btn btn-outline-info"><i class="far fa-window-close"></i> Cancel </a>
    </div>
</form>



